html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
    font-family: sans-serif;
}

#graphContainer {
    position:absolute;
    overflow:hidden;
    width:50%;
    height:100%;
    left: 0;
    top: 0;
    background:url('../images/grid.gif');
    cursor:default;
}
#logContainer {
    position:absolute;
    overflow:auto;
    left:50%;
    right:0;
    height:100%;
    top: 0;
    background-color: #fcfff2;
    cursor:default;
    padding: 30px 10px 10px;
    color: #666;
    font-size: 12px;
}

#logContainer:before {
    content: 'LOG';
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fcfff2;
    display: block;
    padding: 10px 10px 5px;
    font-size: 20px;
    color: #8C8C8C;
    border-bottom: 1px solid #eee;
}

.logRow {
    padding: 5px;
    border-bottom: 1px dashed #ddd;
}